.analyses
    position absolute
    z-index 1
    display inline-block
    background rgba(255, 255, 255, 0.9)
    max-height 100vh
    overflow auto

.icon-left-dir
    float right
    display none

    &:before    
        box-shadow 2px 2px 7px 0px #eee
        background #eee
        border 1px solid #e2e2e42e
        border-radius 3px
        cursor w-resize
.icon-right-dir
    float right
    display none

    &:before    
        box-shadow 2px 2px 7px 0px #eee
        background #eee
        border 1px solid #e2e2e42e
        border-radius 3px
        cursor e-resize
.analysesNames
    .g-global-nav-main
        >ul.g-global-nav
            >li
                pointer-events auto  