
each folder in folders
	- console.log(folder)
	ul
		li
			a #{folder.get('name')}
			select
				option Input(need to be folder now)
				option Segmentation

if items
	each item in items
		ul
			li
				a #{item.get('name')}
				select
					option Segmentation(need to be item now)
					option Input