.container
  #historyGraphics
    #serverInfo.col-md-3
    #usersGraph.col-md-3
    #tasksGraph.col-md-3
    #statusGraph.col-md-3
  #historyTable
    table#table.table.table-hover
      thead
        tr
          th
          th JobId
          th Title
          th Tag
          th Status
          th Creator
          th Date
