.list-group
	a.list-group-item#d3Visualizer
		.visualBar(style='margin-top:0px')
			.visualImage(style='display: table-cell;padding: 10px;')
				img(src='https://avatars3.githubusercontent.com/u/1562726?s=400&v=4' style='width:30px')
			.visualName(style='display: table-cell;')
				h4 D3
	a.list-group-item#amiVisualizer
		.visualBar(style='margin-top:0px')
			.visualImage(style='display: table-cell;padding: 10px;')
				img(src='https://lh3.googleusercontent.com/dsHzwUssAJ5YC6JejkqXrl6MoF7JONHUUsLs4sTpzXWA7Yi7gW9lQY63DvVo5-UQr25f=s180' style='width:30px')
			.visualName(style='display: table-cell;')
				h4 AMI