.g-analyses-nav-container

  //- .analysesHeaders
  //- .analysesTask
.analyses-body

  .col-md-10.progressPanel
    .col-md-4.analysisControl.s-panel-group
    .col-md-8.Processing
  .col-md-2.Visualization