.col-md-2.analysesNames

  //- .analysesHeaders
  //- .analysesTask
.col-md-4.analyses

.col-md-8
  .col-md-4.analysisControl(style='height: 80vh;overflow-y: auto;')
  .col-md-8.Processing(style='height: 80vh;overflow-y: auto;')
.col-md-2.Visualization