.g-frontpage
  text-align center
  padding 95px 0 213px 0
  background-size cover
  background-size 100%
  background url("/static/built/assets/test.jpg")
  background-repeat no-repeat
  background-size 100vw
  
.page-container
  color white
  font-weight bold
  
.page-descr
  font-weight 100
  
.main-cards-blocks 
    background-color #FFFFFF

    box-shadow 0 3px 20px 0 rgba(13, 37, 62, 0.1)
    padding 20px 10px

    justify-content space-between
    position relative
    margin-top -140px
.page-main 
  padding 100px 0 0

.page-main
  .page-container
    width 1260px
    padding 0 20px
    box-sizing border-box
    margin 0 auto
    
.main-cards-blocks 
  .card-block
    display inline-block
    width 270px
    border-top-right-radius 0
    border-bottom-right-radius 2px
    border-bottom-left-radius 2px
    border-top-left-radius 0
    background-color #FFFFFF
    border-top 2px solid #E8EBF1
    text-align center
    padding 0 15px 5px 15px
    margin 30px 10px
    transition all 0.2s ease-in-out
    min-height 130px
    cursor pointer
    
.main-cards-blocks 
  .card-block 
    .cards-block-title
      margin-top 13px

.main-subtitle
  font-size 16px
  line-height 19px
  font-weight 500
  color #464A52
  
.main-cards-blocks 
  .card-block 
    .cards-block-descr 
      font-size 14px
      line-height 24px
      color #6E7480
      margin-top 5px
      font-weight 400
      
.main-cards-blocks .card-block:hover 
  
  box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.04)
  border-top-color #0288D1
  
  transform translate(0, -10px)
