#s-full-page-body-Welcome,
#s-full-page-body-Link,
#s-full-page-body-Data,
#s-full-page-body-Apps,
#s-full-page-body-History
  top 52px
  position relative
#Link,
#Data,
#Apps,
#History
  border-left 1px solid #f8f8f8
  border-right 1px solid #f8f8f8
  
#Link.active,
#Data.active,
#Apps.active,
#History.active
  background-color gainsboro
  
#Link:hover,
#Data:hover,
#Apps:hover,
#History:hover
  background-color gainsboro