#s-full-page-body-Welcome,
#s-full-page-body-Link,
#s-full-page-body-View,
#s-full-page-body-Analysis,
#s-full-page-body-History
  top 52px
  position relative
#Link,
#View,
#Analysis,
#History
  border-left 1px solid #f8f8f8
  border-right 1px solid #f8f8f8
  
#Link.active,
#View.active,
#Analysis.active,
#History.active
  background-color gainsboro
  
#Link:hover,
#View:hover,
#Analysis:hover,
#History:hover
  background-color gainsboro