#userFolder
  .col-md-2.g-ori-nav-container
  .col-md-4.g-ori-container
  .col-md-4.g-seg-container
  .col-md-2.g-seg-nav-container
  //- .col-md-5.g-ori-selections
  //- .col-md-2.g-selections
    //- button.linkOriAndSeg Go
  //- .col-md-5.g-seg-selections
