.headerTag(style='cursor:pointer;background-color:#f0f0f0;font-size:16px;    font-weight:700' data-toggle="collapse" data-target="#selectedFile")
	.title(style='padding: 10px;')
		.icon-up-open Image(*)
		.icon-down-open Image(*)
		.image_selected(style='float:right')
.ORI
	#selectedFile.collapse.in