a, a:hover, a:focus
    color inherit
    text-decoration none
    transition all 0.3s

@media (max-width: 768px)
    #wrapper
        margin-left -100%
    
    #wrapper.active
        margin-left 0
    

a[data-toggle="collapse"]
    position relative


.dropdown-toggle::after
    display block
    position absolute
    top 50%
    right 20px
    transform translateY(-50%)

.g-ds-nav-container
    width 40vw
    height calc(100vh - 52px)
    display inline-block
    transition 1s
    position absolute
    left 0
    margin-left 0
    .g-global-nav-main
        >ul.g-global-nav
            >li
                pointer-events auto
        width calc(100% - 20px)
        display inline-block
        height 100%
.icon-left-dir
    float right
    display none

    &:before
        box-shadow 2px 2px 7px 0 #eee
        background #eee
        border 1px solid #e2e2e42e
        border-radius 3px
        cursor w-resize
    
.icon-right-dir
    float right
    display none

    &:before
        box-shadow 2px 2px 7px 0 #eee
        background #eee
        border 1px solid #e2e2e42e
        border-radius 3px
        cursor e-resize

.s-nav-siderBar
    height calc(100vh - 52px)
    width 20px
    float right
    cursor pointer
.s-nav-siderBar:hover
    background-color #f6f6f6
    transition all 0.2s
.ssrVisualizer
    width 60vw
    float right
    height calc(100vh - 52px)
    transition 1s
    display inline-flex
    
.hideBar
    font-weight 600
    text-align center
    position relative
    top 50%
    left 30%
    &:before
        font-family fontello
        content "\e90f"
.hideBar.collapsein
    font-weight 600
    text-align center
    position relative
    top 50%
    left 30%
    &:before
        font-family fontello
        content "\e910"

.datasourceNavPanel.panel
    margin-bottom 0
    background-color rgba(0, 0, 0, 0)
    border none
    border-radius 0
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
    list-style none
.datasourceNavPanel.panel:hover
    background-color #f6f6f6
    transition all 0.2s
    
.dataSourceArch
    margin-left 30px
    margin-right 10px
    // overflow auto
    max-height 300px
    
.g-global-nav-li[aria-expanded="true"]
    font-weight bolder
    font-style italic