#analysis.col-md-12
	select#analysisSelection(style='display: block;margin: 0 auto;')
		option
		option#radiologyTK RadiologyTK
		option#histomicsTK HistomicsTK
	table#analysisTable
		thead
			tr
				th Name
				th Tasks