.g-frontpage
  .page-container
    h1 Welcome to SSR
    .page-descr
      p The Searchable Shareable Reproducible Platform 

.page-main
  .page-container
    .main-cards-blocks.grid
      .card-block.about-card-block(target='data')
        .cards-block-info.cards-block-title.main-subtitle Data
        .cards-block-info.cards-block-descr Quickly go over your dataset and modify your label
      .card-block.about-card-block(target='apps')
        .cards-block-info.cards-block-title.main-subtitle Apps
        .cards-block-info.cards-block-descr Throw your dataset in pipeline and Running tasks offline
      .card-block.about-card-block(target='history')
        .cards-block-info.cards-block-title.main-subtitle History(Coming)
        .cards-block-info.cards-block-descr Check All your tasks status and reproduction pipeline for re-run
