nav.navbar.navbar-default(style='height:52px; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 6px 0 rgba(0, 0, 0, 0.1);')
  .container-fluid
    .navbar-header
      a#s-navbar-brand.navbar-brand SSR
        span#version Alpha0.0.1
    .s-nav-wrapper
      //- .nav.navbar-nav
      //-   li
      //-     a#dataSource Data Source
          
      //-   li
      //-     a#QC Mapping Segmentation
        
      //-   li
      //-     a#workflow Analysis
      
      //-   li
      //-     a#history History
    #s-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.s-image-wrapper.dropdown
        li.s-current-user-wrapper