#Optionals.container(style='width:105%')
	h3 Workflow
	//#category.col-md-2
	.dbContent.col-md-2
		ul.nav.nav-pills.nav-stacked.category
			li#orthanc(style='border-bottom: solid 1px;border-bottom-color: gainsboro;')
				a(href="#orthanc") Orthanc
			li#scippy(style='border-bottom: solid 1px;border-bottom-color: gainsboro;')
				a(href="#scippy") Scippy
			li#filesystem(style='border-bottom: solid 1px;border-bottom-color: gainsboro;')
				a(href="#filesystem") Filesystem
			li#girder
				a(href="#girder") Girder
	.content.col-md-7
	
	.analysisContent.col-md-3
#g-dialog-container.modal.fade(tabindex='-1')