#g-app-header-container

#g-app-body-container.s-full-page-body

p.footer &copy; Imaging and Visualization Group, ABCS - 2019

#Loading.modal
	.loadingIcon
		i.fa.icon-spin3.animate-spin
#g-dialog-container.modal.fade(tabindex="-1")